<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Erstsi</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <h1>Erstsi</h1>

    <canvas height="720" width="216" id="gameboard"></canvas>
    <script src="/js/gameboard.js"></script>
</body>
</html>